body{
    background-color:rgb(197, 37, 37);
    color:aliceblue;
    margin:auto;
    text-align:center;
}

table{

    width:80%;
   color:aliceblue;
   font-size:15px;
}

td,th{
    border:1px solid;
    border-color:aliceblue
}

.galeria{
    margin:auto;
    width:70%;
    height:fit-content;
    text-align: center;
}

img{
    width:100%;
    border-radius: 30px;
}

video{
    margin: 40px;
    border-radius: 30px;
    width: 70%;
}
    
